# wordpress
WORDPRESS_DB_HOST= 
WORDPRESS_DB_PASSWORD= 
WORDPRESS_DB_USER= 
WORDPRESS_DB_NAME= 
WORDPRESS_TABLE_PREFIX= 
WORDPRESS_SITE_URL= 
WORDPRESS_SITE_DESCRIPTION= 
WORDPRESS_ADMIN_USER= 
WORDPRESS_ADMIN_PASSWORD= 
WORDPRESS_ADMIN_EMAIL= 
WORDPRESS_DEBUG= 

# mariadb
MYSQL_ROOT_PASSWORD= 
MYSQL_USER= 
MYSQL_PASSWORD= 
MYSQL_DATABASE= 
PMA_HOST= 